<%= simple_form_for(@menu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name , placeholder:"Enter the item name" %>
    <!-- 箱の中に文字入れるときはplaceholder:で、labelは上の文字を変える -->
    <%= f.input :price ,placeholder:"Enter the price of item"%>
    <%= f.input :ingredient %>
    <!-- brain -->
    <%= f.input :description %>
    <%= f.input :calories %>
    <%= f.input :category ,collection:["Drink","Desserts","Hot food"]%>
    <%= f.input :dietary_requirement %>
    <%= f.input :picture, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
